

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

 }

 a {
   text-decoration: none;
   color: #2a3027;
 }

 body {
   font-family: bebas neue, minion didot, cochin, lao mn, optima;
   background-color: #d9b6b6;
   min-width: fit-content;

 }
 .business-card {
   width: 400px;
   height: 200px;
   font-family: roboto;
   position: absolute;
   top: 50%;
   left: 10%;
   text-align: center;
   padding-top: 15px;
  border-radius: 19px;
    background: #d9b6b6;
    box-shadow: 5px 5px 7px #d0afaf,
      -5px -5px 7px #e2bdbd;

 }
 .business-card p {
font-size: 50px;
color: rgba(0, 0, 0);
text-transform: uppercase;
text-shadow: .3px .3px .5px  rgba(0, 0, 0),
   -.5px -.5px  1px rgba(0, 0, 0);  
 }

 .github {
   margin-top: 50%;
   position: relative;
 }

 /* Header Section */
 header {
   z-index: 9999;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   background-color: rgb(42, 48, 39);
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   box-shadow: 0 0 20px 0 rgba(42, 48, 39, .8);
   width: 100%;

 }

 header h1 {
   font-size: 80px;
   font-weight: 600;
   color: transparent;
   -webkit-text-stroke: 2px #d9b6b6;
   width: 100%;
   text-align: center;

 }

 .header-mod {
   display: flex;
   font-size: 50px;
   color: transparent;
   -webkit-text-stroke: 2px rgb(42, 48, 39);
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   text-decoration: underline 4px solid #2a3027;
   scroll-margin-top: 3em;
   padding-bottom: 5%;
 }

 /* Navigation */

 nav {
   width: 100%;
 }

 .navigation ul {
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;
   list-style: none;
   color: #d9b6b6;
   flex-direction: row;

 }
 .resume {
   width: 100vw;
 }
 .placehold {
   background: transparent;
   display: flex;
   margin-top: 10px;
   /* padding: 20px 10px 5px 0; */
   border-radius: 35px;
   line-height: 45px;
   margin-left: 14%;
   width: 300px;
   border-color: rgb(42, 48, 39);
   text-indent: 5%;
   color: black;
   vertical-align: middle;
 }

 ::placeholder {
   color: rgb(42, 48, 39);
   text-align: left;
   margin-right: 80px;
 }

 .button {
   background: rgb(42, 48, 39);
   display: flex;
   margin-top: -30px;
   border-radius: 35px;
   line-height: 45px;
   margin-left: 14%;
   width: 300px;
   border-color: transparent;
   text-indent: 85px;
   color: #d9b6b6;
   font-size: larger;
   letter-spacing: 3px;
   margin-top: -5px;
 }

 .navigation a {
   color: #d9b6b6;
   font-size: 20px;
   font-display: center;
   text-decoration: none;

 }

 .navigation ul li a:hover {
   font-weight: 50;
   text-decoration: underline #d9b6b6;


 }

 /* Hero Section */

 .hero {
   background-color: rgb(217, 182, 182);
   height: fit-content;
   margin: 20px;


 }

 .hero h1 {
   display: flex;
   font-size: 80px;
   color: transparent;
   -webkit-text-stroke: 2px rgb(42, 48, 39);
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: space-around;
   align-content: space-around;

 }

 .hero img {
   margin-top: 9px;
   margin-left: auto;
   width: 100%;
   display: block;
   margin-right: auto;
 }

 .info {
  text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   flex-wrap: nowrap;
   align-items: center;
   padding-bottom: 20%;

 }

 /* About Section */

 .bio-box {
   display: flex;
   flex-wrap: wrap;
   align-content: space-around;
   justify-content: space-around;
   align-items: center;
   flex-direction: column;

 }

 .bio-box img {
   height: 300px;
   width: 300px;
   border: 5px solid #2a3027;
   margin-bottom: 10%;
   border-radius: 50%;
 }

 .bio-box p {
   color: #2a3027;
   font-size: 35px;
   line-height: 25pt;
   text-align: center;
   margin: auto 5% auto 5%;
 }

 /* Project Section */

 .portfolio-blocks {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   align-content: center;
   align-items: center;
   flex-direction: row;

 }

 .portfolio-blocks div {
   height: 300px;
   width: 300px;
   background-color: #2a3027;
   border-radius: 50%;

 }

 .portfolio-blocks a {
   text-decoration: none;
 }


 .port-box {
   margin: 20px 20px;
 }

 .port-img {
   background-size: 135%;
   background-position-y: bottom;
 }

 .port-box:hover {
   height: 310px;
   width: 310px;
   margin: none;


 }

 .port-img:hover {
   height: 310px;
   width: 310px;
   margin: none;
   background-color: #d9b6b6;
   font-style: #2a3027;
 }


 .top-left {
   text-align: center;
   font-size: 20px;
   color: #d9b6b6;
   margin-bottom: 40%;
   margin-left: 5%;
   margin-right: 5%;
   margin-top: 40%;

 }

 .top-left:hover {
   font-size: 25px;
 }

 

 /* Contact Section */

 .contact-info {

   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
 }

 .contact-box {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: flex-start;
   text-align: center;
   font-size: 25px;
 }

 /* Footer */

 footer {

   background-color: rgb(42, 48, 39);
   height: 100px;
   min-width: 437px;
 }

 /* Media Queries */




 @media screen and (max-width: 640px) {

   .bio-box p {
     font-size: 25px
   }

   .contact-box {
     font-size: 20px;
   }
 }

 @media screen and (max-width: 375px) {

   .bio-box img {
     height: 250px;
     width: 250px;
   }

   .portfolio-blocks div {
     height: 250px;
     width: 250px;
   }

   .port-img {
     height: 250px;
     width: 250px;
   }
 }