/* The navigation bar */
body {
  background-color: #d8d8d8;
}

.navbar {
  /* overflow: hidden; */
  background-color: #d8d8d8;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
  border-bottom: solid 1px black;
}
.footbar {
      /* overflow: hidden; */
      background-color: #d8d8d8;
      
      /* Set the navbar to fixed position */
      bottom: 0;
      /* Position the navbar at the top of the page */
      width: 100%;
      /* Full width */
      border-top: solid 1px black;
    
}

/* Links inside the navbar */
.navbar a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 3px;
  text-decoration: none;
  font-size: 15px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: -10px;
  font-weight: bold;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #dfe0e1;
  color: black;
}

.name {
  float: left;
  font-size: small;
  width: 25%;
  margin-left: 10px;
}
.about {
  margin-top: 80px;
  margin-bottom: 80px;
}
.my-2 {
  margin-left: 20px;
  margin-top: 30px;
  border-radius: 25px;
  border: solid black 2px;
}
.bio {
text-align: center;
  width: 75%;
  margin-left: 45px;
}